<h3>Shift Reservations</h3>
<p>Welcome to the Shift Reservations tool. To make a new reservation, select a calendar from the <%= link_to "Calendars", calendars_path %> page and either click on the desired starting date or on the "New reservation" button.</p>
<br />

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Happening now (<%= Time.zone.now.strftime("%A, %B %-d, %Y at %H:%M") %>)</h3>
  </div>
  <div class="panel-body">
    <ul>
      <% Calendar.includes(:appointments_today => {:person => :group}).actives.each do |calendar| %>
        <% cal_start = calendar.start_time.seconds_since_midnight / 3600 %>
        <% cal_end = calendar.end_time.seconds_since_midnight / 3600 %>
        <% curr_time = Time.zone.now.seconds_since_midnight / 3600 %>
        <% if (cal_start <= curr_time and cal_end > curr_time) or (cal_start == 0 and cal_end == 0) %>
          <% theday = Date.today %>
        <% elsif cal_start >= curr_time and cal_end > curr_time and cal_end < cal_start %>
          <% theday = Date.yesterday %>
        <% elsif cal_start <= curr_time and cal_end < curr_time and cal_end < cal_start %>
          <% theday = Date.today %>
        <% else %>
          <% next %>
        <% end %>
        <% shifts = output_shifts calendar, theday %>
        <% if shifts.size == 1 %>
          <li>
            For <%= link_to calendar.title, calendar %>, the current shifter is 
            <%= link_to shifts[0].person.name, shifts[0].person %> from <%= shifts[0].person.group.name %>
          </li>
        <% elsif shifts.size > 1 %>
        <li>
          For <%= link_to calendar.title, calendar %>, the current shifters are 
          <% shifts.each_with_index do |shift, index| %>
            <% if index == shifts.size - 1 %>
              and
            <% end %>
            <%= link_to shift.person.name, shift.person %> from <%= shift.person.group.name %><% if index < shifts.size - 1 and shifts.size != 2 %>,<% end %>
          <% end %>
        </li>
        <% end %>
      <% end %>
      <% Calendar.includes(:appointments_tomorrow => {:person => :group}).actives.each do |calendar| %>
        <% cal_start = calendar.start_time.seconds_since_midnight / 3600 %>
        <% cal_end = calendar.end_time.seconds_since_midnight / 3600 %>
        <% curr_time = Time.zone.now.seconds_since_midnight / 3600 %>
        <% if cal_start == 0 and cal_end == 0 %>
        <% next %>
        <% elsif (cal_start > curr_time and cal_start - curr_time < 10) %>
          <% theday = Date.today %>
        <% elsif cal_start + 24 - curr_time < 10 %>
          <% theday = Date.tomorrow %>
        <% else %>
          <% next %>
        <% end %>
        <% shifts = output_shifts calendar, theday %>
        <% shift_start = Time.zone.local(theday.year, theday.month, theday.day, calendar.start_time.hour, calendar.start_time.min, calendar.start_time.sec) %>
        <% if shifts.size == 1 %>
          <li>
            In <%= distance_of_time_in_words DateTime.now, shift_start %>, the shifter for <%= link_to calendar.title, calendar %> will be
            <%= link_to shifts[0].person.name, shifts[0].person %> from <%= shifts[0].person.group.name %>
          </li>
        <% elsif shifts.size > 1 %>
        <li>
          In <%= distance_of_time_in_words_to_now shift_start %>, the shifters for <%= link_to calendar.title, calendar %> will be
          <% shifts.each_with_index do |shift, index| %>
            <% if index == shifts.size - 1 %>
              and
            <% end %>
            <%= link_to shift.person.name, shift.person %> from <%= shift.person.group.name %><% if index < shifts.size - 1 and shifts.size != 2 %>,<% end %>
          <% end %>
        </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Overview for <%= Date.today.strftime("%A, %B %-d, %Y") %></h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Calendar</th>
          <th>Shifters</th>
        </tr>
      </thead>

      <tbody>
        <% Calendar.includes(:appointments_today => {:person => :group}, :appointments_tomorrow => {:person => :group}, :appointments_upcomingaftertomorrow => {:person => :group}).actives.each do |calendar| %>
          <tr>
            <td><%= link_to calendar.title, calendar %></td>
            <td>
              <table>
                <tr>
                  <td style="padding-right: 10px; vertical-align: top;">Today:</td>
                  <td>
                    <% shifts = output_shifts calendar, Date.today %>
                    <% if shifts.size == 0 %>
                      No shifters
                    <% end %>
                    <% for shift in output_shifts calendar, Date.today %>
                      <%= render 'appts', shift: shift, date: Date.today %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td style="padding-right: 10px; vertical-align: top;">Tomorrow:</td>
                  <td>
                    <% shifts = output_shifts calendar, Date.tomorrow %>
                    <% if shifts.size == 0 %>
                      No shifters
                    <% end %>
                    <% for shift in output_shifts calendar, Date.tomorrow %>
                      <%= render 'appts', shift: shift, date: Date.tomorrow %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td style="padding-right: 10px;">Next available:</td>
                  <td><%= next_empty_shift calendar %></td>
                </tr>
              </table>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    "Next available" shows the next calendar date for which there is no shift reservation.
  </div>
</div>
