<h3>Shift Reservations</h3>
<p>Welcome to the Shift Reservations tool. To make a new reservation, select a calendar from the <%= link_to "Calendars", calendars_path %> page and either click on the desired starting date or on the "New reservation" button.</p>
<br />
<h4>Today's shifters (<%= Date.today.strftime("%A, %B %-d, %Y") %>)</h4>
<%= render 'appts', :thedate => Date.today %>

<h4>Tomorrow's shifters (<%= Date.tomorrow.strftime("%A, %B %-d, %Y") %>)</h4>
<%= render 'appts', :thedate => Date.tomorrow %>
