<h3>All people</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Group</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @sortedpeople.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td><%= link_to person.group.name, person.group %></td>
        <td><%= person.phone.phony_formatted(format: :international) %></td>
        <td><%= person.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Person', new_person_path, class: "btn btn-primary" %>
