<h3><%= @person.name %><% if not @person.active %> (Inactive)<% end %></h3>

<table class="table table-striped">
  <tr>
    <td>Email:</td>
    <td><%= @person.email %></td>
  </tr>
  
  <tr>
    <td>Phone:</td>
    <td><%= @person.phone.phony_formatted(format: :international) %></td>
  </tr>
  
  <tr>
    <td>Group:</td>
    <td><%= link_to @person.group.name, @person.group %></td>
  </tr>
  
  <% if admin? && @person.user %>
    <tr>
      <td>Associated account:</td>
      <td><%= link_to @person.user.username, user_path(@person.user) %></td>
    </tr>
  <% end %>
</table>

<% if @person.user == current_user || admin? %>
  <%= link_to 'Edit', edit_person_path(@person) %>
<% end %>
<% if admin? %>
| <%= link_to 'Delete', person_path(@person), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<h3>Reservations</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Calendar</th>
      <th>Dates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @person.appointments.order(:starts).each do |appointment| %>
      <tr>
        <td><%= link_to appointment.calendar.title, calendar_path(appointment.calendar) %></td>
        <td>
          <%= appointment.starts.strftime("%B %d, %Y") %>
          <% if appointment.starts != appointment.ends %>
            &ndash; <%= appointment.ends.strftime("%B %d, %Y") %>
          <% end %>
        </td>
        <td><%= link_to 'Details', appointment %></td>
        <td>
          <% if appointment.user == current_user || appointment.person.user == current_user || admin? %>
            <%= link_to 'Edit', edit_appointment_path(appointment) %>
          <% end %>
        </td>
        <td>
          <% if appointment.user == current_user || appointment.person.user == current_user || admin? %>
            <%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
