<h3><%= @group.name %></h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @group.people.each do |person| %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td><%= person.email %></td>
        <td><%= person.phone %></td>
        <td><%= link_to 'Edit', edit_person_path(person) %></td>
        <td><%= link_to 'Delete', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if admin? %>
  <%= link_to 'Edit Group Details', edit_group_path(@group), class: "btn btn-primary" %>
<% end %>
