<%= form_for(@user, html: {class: 'form-horizontal'}) do |f| %>
  <div class="field form-group">
    <%= f.label :username, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.text_field :username, class: 'form-control' %></div>
  </div>
  
  <div class="field form-group">
    <%= f.label :email, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.email_field :email, class: 'form-control' %></div>
  </div>
  
  <div class="field form-group">
    <%= f.label :password, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.password_field :password, class: 'form-control' %></div>
  </div>
  
  <div class="field form-group">
    <%= f.label "Retype password", {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.password_field :password_confirmation, class: 'form-control' %></div>
  </div>
  
  <% if admin? %>
    <div class="field form-group">
      <%= f.label :admin, {}, {class: 'col-sm-2 control-label'} %>
      <div class="col-sm-8"><%= f.check_box :admin, class: 'form-control' %></div>
    </div>
  <% end %>
  
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
  
<% end %>
