<%= form_for(@calendar, html: {class: 'form-horizontal'}) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation" class="alert alert-danger fade in">
      <p><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</p>

      <ul>
      <% @calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.text_field :title, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :description, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.text_area :description, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label "Simultaneous reservations", {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.number_field :max_simultaneous, min: 1, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :days_per_credit, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.number_field :days_per_credit, min: 1, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label "Minimum days per reservation", {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.number_field :min_days, min: 1, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label "Start and end days", {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.select :start_end_day, [["No requirement", -1]].concat((0..6).map {|i| [Date::DAYNAMES[i], i]}), {}, {class: 'form-control'} %></div>
  </div>
  <div class="field form-group">
    <%= f.label :start_time, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.time_field :start_time, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :end_time, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.time_field :end_time, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :no_credit_day, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.check_box :no_credit_day, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :active, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.check_box :active, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :watchers, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.text_area :watchers, class: 'form-control' %></div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
