<%= form_for(@calendar, html: {class: 'form-horizontal'}) do |f| %>
  <% if @calendar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
      <% @calendar.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :title, class: 'col-sm-2 control-label', class: 'col-sm-2 control-label' %>
    <div class="col-sm-8"><%= f.text_field :title, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :description, class: 'col-sm-2 control-label', class: 'col-sm-2 control-label' %>
    <div class="col-sm-8"><%= f.text_area :description, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :max_simultaneous, class: 'col-sm-2 control-label', class: 'col-sm-2 control-label' %>
    <div class="col-sm-8"><%= f.number_field :max_simultaneous, class: 'form-control' %></div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
