<p id="notice"><%= notice %></p>

<h3><%= @calendar.title %></h3>

<p>
  <%= @calendar.description %>
</p>

<p>
  Number of simultaneous reservations permitted: <%= @calendar.max_simultaneous %>
</p>

<p><%= link_to 'Edit calendar details', edit_calendar_path(@calendar) %></p>

<h3>Appointments</h3>
<div class="pull-right">
  <form class="form-inline" style="padding-bottom:1em">
    <div class="field form-group">
      <label class="control-label" for="startmonth">Start at</label>&nbsp;
      <div class="input-group">
        <input value="" class="form-control datepicker" data-date-format="MMMM YYYY" type="text" name="startmonth" id="startmonth" />
        <span class="glyphicon glyphicon-calendar input-group-addon">
      </div>&nbsp;
      <label class="control-label" for="months">for</label>&nbsp;
      <%= number_field_tag :months, @months, min: 1, max: 36, size: 2, class: 'form-control' %>&nbsp;
      <label class="control-label" for="months">months</label>
    </div>
    <input type="submit" value="Show" class="btn btn-primary" />
    <a href="<%= request.path %>" class="btn btn-primary">Reset</a>
  </form>
</div>
<%= javascript_tag do %>
$(function () {
  $('#startmonth').datetimepicker({
    <% if not params[:startmonth].nil? %>
      defaultDate: '<%= j params[:startmonth] %>'
    <% else %>
      defaultDate: '<%= j Date.today.strftime("%Y-%m") %>'
    <% end %>
  });
});
<% end %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <% (0..(5*@months)).each do |week| %>
    <tr>
      <% (0..6).each do |day| %>
        <% thisday = @firstday + day + 7 * week %>
        <td style="width: 14.29%" class="<%= @calendar.appointments.on(thisday).length > 0 ? "success" : "" %>">
          <% if thisday.mday == 1 %>
            <strong><%= link_to thisday.strftime("%B %Y"), new_appointment_path({cal: @calendar.id, startdate: thisday}) %></strong>
          <% else %>
            <div class="pull-right">
              <%= link_to thisday.strftime("%-d"), new_appointment_path({cal: @calendar.id, startdate: thisday}) %>
            </div>
          <% end %>
          <% @calendar.appointments.on(thisday).each do |appointment| %>
            <br /><%= link_to(appointment.person.name, appointment_path(appointment)) %>
          <% end %>          
        </td>  
      <% end %>
    </tr>
  <% end %>
</table>

<h3>Appointment List</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Person</th>
      <th>Dates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar.appointments.order(:starts).each do |appointment| %>
      <tr>
        <td><%= link_to appointment.person.name, person_path(appointment.person) %> (<%= link_to appointment.person.group.name, group_path(appointment.person.group) %>)</td>
        <td>
          <%= appointment.starts.strftime("%B %d, %Y") %>
          <% if appointment.starts != appointment.ends %>
            &ndash; <%= appointment.ends.strftime("%B %d, %Y") %>
          <% end %>
        </td>
        <td><%= link_to 'Details', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Delete', appointment_path(appointment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
