<h3><%= @calendar.title %></h3>

<p>
  <%= @calendar.description %>
</p>

<ul>
  <% if @calendar.start_time.strftime("%H%M") != "0000" or @calendar.end_time.strftime("%H%M") != "0000" %>
    <li>
      Shifts start at <%= @calendar.start_time.strftime("%H:%M") %>
      <% if @calendar.start_time > @calendar.end_time %>
        on the day listed
      <% end %>
      and end at <%= @calendar.end_time.strftime("%H:%M") %>
      <% if @calendar.start_time > @calendar.end_time %>
        the next day
      <% end %>
      (LNGS local time)
    </li>
  <% end %>  
  <li>
    <% if @calendar.start_end_day? && @calendar.start_end_day > -1 %>
      Reservations must start and end on <%= Date::DAYNAMES[@calendar.start_end_day] %>
    <% else %>
      Reservations can be begin and end on any day of the week
    <% end %>
  </li>
  <li>Reservations must be at least <%= pluralize(@calendar.min_days, "day") %></li>
  <li>
    Each day earns 1/<%= pluralize(@calendar.days_per_credit, "shift credit") %>
    <% if @calendar.no_credit_day %>
      (one overlap day earns no credit)
    <% end %>
  </li>
  <li>
    <% if @calendar.max_simultaneous > 1 %>
      <%= pluralize(@calendar.max_simultaneous, "simultaneous reservation") %> permitted
    <% else %>
      Simultaneous reservations not permitted
    <% end %>
    <% if @calendar.no_credit_day %>
      (one overlap day allowed)
    <% end %>
  </li>
  <% if (@calendar.watchers.split(/\s*,\s*/)).to_sentence != "" %>
    <li>
      Notifications sent to <%= (@calendar.watchers.split(/\s*,\s*/)).to_sentence %>
    </li>
  <% end %>
</ul>

<% if admin? %>
  <p>
    <%= link_to 'Edit calendar details', edit_calendar_path(@calendar), class: "btn btn-primary" %>
    <%= link_to 'Delete calendar', calendar_path(@calendar), method: :delete, data: { confirm: 'You can just set this calendar to be inactive instead, and then it won\'t appear on the home page but will still keep the shift credits. Are you very sure you want to delete? This will permanently delete all reservations associated with this calendar and they will be removed from all shift credit calculations.' }, class: "btn btn-primary" %>
  </p>
<% end %>

<h3>Reservations</h3>
<div class="pull-left">
  <%= link_to "New Reservation", new_appointment_path({cal: @calendar.id}), class: "btn btn-primary" %>
</div>
<div class="pull-right">
  <form class="form-inline" style="padding-bottom:1em">
    <div class="field form-group">
      <%= number_field_tag :months, @months, min: 1, max: 36, size: 2, class: 'form-control' %>&nbsp;
      <label class="control-label" for="months">month(s)</label>
    </div>
    <div class="field form-group">
      <label class="control-label" for="startmonth">starting</label>&nbsp;
      <div class="input-group">
        <input value="" class="form-control datepicker" data-date-format="MMMM YYYY" type="text" name="startmonth" id="startmonth" />
        <span class="glyphicon glyphicon-calendar input-group-addon">
      </div>&nbsp;
    </div>
    <input type="submit" value="Show" class="btn btn-primary" />
    <a href="<%= request.path %>" class="btn btn-primary">Reset</a>
  </form>
</div>
<%= javascript_tag do %>
$(function () {
  $('#startmonth').datetimepicker({
    <% if not params[:startmonth].nil? %>
      defaultDate: '<%= j params[:startmonth] %>'
    <% else %>
      defaultDate: '<%= j Date.today.strftime("%Y-%m") %>'
    <% end %>
  });
});
<% end %>

<table class="table table-bordered table-striped">
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <% (0..(4.35*@months)).each do |week| %>
    <tr>
      <% (0..6).each do |day| %>
        <% thisday = @firstday + day + 7 * week %>
        <td style="width: 14.29%<%= thisday == Date.today ? "; background-color: #B2DBA1" : "" %>" class="<%= @calendar.appointments.on(thisday).length > 0 ? "success" : "" %>">
          <% if thisday.mday == 1 %>
            <% if @calendar.start_end_day > -1 and thisday.wday != @calendar.start_end_day %>
              <strong><%= thisday.strftime("%B %Y") %></strong>
            <% else %>
              <strong><%= link_to thisday.strftime("%B %Y"), new_appointment_path({cal: @calendar.id, startdate: thisday}) %></strong>
            <% end %>
          <% else %>
            <div class="pull-right">
              <% if @calendar.start_end_day > -1 and thisday.wday != @calendar.start_end_day %>
                <%= thisday.strftime("%-d") %>
              <% else %>
                <%= link_to thisday.strftime("%-d"), new_appointment_path({cal: @calendar.id, startdate: thisday}) %>
              <% end %>
              
            </div>
          <% end %>
          <% @calendar.appointments.on(thisday).each do |appointment| %>
            <br /><%= link_to(appointment.person.name, appointment_path(appointment)) %>
          <% end %>          
        </td>  
      <% end %>
    </tr>
  <% end %>
</table>

<h3>Reservation list</h3>
<% if params[:future] == "no" %>
  Showing all reservations. <a href="<%= request.path %>?future=yes">See only current and future reservations</a>
  <% all_appointments = @calendar.appointments.order(:starts) %>
<% else %>
  Showing all current and future reservations. <a href="<%= request.path %>?future=no">See all reservations</a>
  <% all_appointments = @calendar.appointments.after(Date.today).order(:starts) %>
<% end %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Shifter</th>
      <th>Dates</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% all_appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.person.name, person_path(appointment.person) %> (<%= link_to appointment.person.group.name, group_path(appointment.person.group) %>)</td>
        <td>
          <%= appointment.starts.strftime("%B %d, %Y") %>
          <% if appointment.starts != appointment.ends %>
            &ndash; <%= appointment.ends.strftime("%B %d, %Y") %>
          <% end %>
        </td>
        <td><%= link_to 'Details', appointment %></td>
        <td>
          <% if appointment.user == current_user || admin? %>
            <%= link_to 'Edit', edit_appointment_path(appointment) %>
          <% end %>
        </td>
        <td>
          <% if appointment.user == current_user || admin? %>
            <%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
