<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @calendar.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @calendar.description %>
</p>

<p>
  <strong>Max simultaneous:</strong>
  <%= @calendar.max_simultaneous %>
</p>

<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>

<h3>Appointments</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Person</th>
      <th>Starts</th>
      <th>Days</th>
      <th>Note</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @calendar.appointments.each do |appointment| %>
      <tr>
        <td><%= link_to appointment.person.name, person_path(appointment.person) %> (<%= link_to appointment.person.group.name, group_path(appointment.person.group) %>)</td>
        <td><%= appointment.starts %></td>
        <td><%= appointment.days %></td>
        <td><%= appointment.note %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Delete', appointment_path(appointment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
