<form class="form" style="padding-bottom:1em">
  <div class="field form-group form-inline">
    <label class="control-label col-sm-2" for="start_date">From</label>
    <div class="col-sm-10">
      <div class="field form-group">
        <div>
          <div class="input-group">
            <input value="" class="form-control datepicker" data-date-format="MMMM DD, YYYY" type="text" name="start_date" id="start_date" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
          <%= javascript_tag do %>  
          $(function () {
            $('#start_date').datetimepicker({ defaultDate: '<%= @start_date.strftime("%Y-%m-%d") %>' });
          });
          <% end %>
        </div>
      </div>&nbsp;
      <label class="control-label" for="appointment_ends">to</label>&nbsp;
      <div class="field form-group">
        <div>
          <div class="input-group">
            <input value="" class="form-control datepicker" data-date-format="MMMM DD, YYYY" type="text" name="end_date" id="end_date" />
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
          </div>
          <%= javascript_tag do %>  
          $(function () {
            $('#end_date').datetimepicker({ defaultDate: '<%= @end_date.strftime("%Y-%m-%d") %>' });
          });
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="field form-group">
    <label class="control-label col-sm-2">Calendars</label>
    <select class="selectpicker col-sm-10" multiple title="All" name="show_cal[]">
      <% Calendar.all.each do |cal| %>
        <option value="<%= cal.id %>" <% if not @all_selected and @cals_to_show.include? cal %> selected<% end %>><%= cal.title %></option>
      <% end %>
    </select>
  </div>
  <div class="col-sm-12">
    <input type="submit" value="Show" class="btn btn-primary" />
    <a href="<%= request.path %>" class="btn btn-primary" data-no-turbolink="true">Reset</a>
  </div>
</form>
<br />
<h3>Shift credits by institution</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>Group</th>
    <th>Shift credits from <%= date_range @start_date, @end_date %> from <%= list_cals_to_show %></th>
  </tr>
  <% Group.includes(:credited_appointments).each do |group| %>
    <tr>
      <td><%= link_to group.name, group %></td>
      <td>
        <% credits = sum_credits group, @start_date, @end_date, @cals_to_show %>
        <%= credits[0] %>
        <% if credits[1] > 0 %>
          (+<%= credits[1] %> scheduled)
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<h3>Shift credits by individual</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Shift credits from <%= date_range @start_date, @end_date %> from <%= list_cals_to_show %></th>
  </tr>
  <% person_credits = {} %>
  <% people = Person.includes(:credited_appointments) %>
  <% sortedpeople = people.sort_by do |person| %>
  <%   person_credits[person] = sum_credits(person, @start_date, @end_date, @cals_to_show) %>
  <% end %>
  <% place = 0 %>
  <% last_credits = 0 %>
  <% last_additional_credits = 0 %>
  <% num_tied = 1 %>
  <% sortedpeople.reverse.each do |person| %>
    <% credits = person_credits[person][0] %>
    <% additional_credits = person_credits[person][1] %>
    <% if person_credits[person].sum > 0 %>
      <tr>
        <td width=30 style="text-align:center;">
          <% if credits != last_credits or additional_credits != last_additional_credits %>
            <% place = place + num_tied %>
            <% last_credits = credits %>
            <% last_additional_credits = additional_credits %>
            <% num_tied = 1 %>
          <% else %>
            <% num_tied = num_tied + 1 %>
          <% end %>
          <% if place == 1 %>
            <%= image_tag "goldmedal.png", size: "30x42" %>
          <% elsif place == 2 %>
            <%= image_tag "silvermedal.png", size: "30x42" %>
          <% elsif place == 3 %>
            <%= image_tag "bronzemedal.png", size: "30x42" %>
          <% else %>
            <%= place %>
          <% end %>
        </td>
        <td><%= link_to person.name, person %></td>
        <td>
          <%= credits %>
          <% if additional_credits > 0 %>
            (+<%= additional_credits %> scheduled)
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
