<form class="form" style="padding-bottom:1em">
  <div class="field form-group form-inline">
    <label class="control-label col-sm-2" for="start_year">From</label>
    <div class="col-sm-10">
      <%= number_field_tag :start_year, @months, value: @start_year, min: 2000, max: 2050, size: 2, class: 'form-control' %>&nbsp;
      <label class="control-label" for="end_year">to</label>&nbsp;
      <%= number_field_tag :end_year, @months, value: @end_year, min: 2000, max: 2050, size: 2, class: 'form-control' %>
    </div>
  </div>
  <div class="field form-group">
    <label class="control-label col-sm-2">Calendars</label>
    <select class="selectpicker col-sm-10" multiple title="All" name="show_cal[]">
      <% Calendar.all.each do |cal| %>
        <option value="<%= cal.id %>" <% if not @all_selected and @cals_to_show.include? cal %> selected<% end %>><%= cal.title %></option>
      <% end %>
    </select>
  </div>
  <div class="col-sm-12">
    <input type="submit" value="Show" class="btn btn-primary" />
    <a href="<%= request.path %>" class="btn btn-primary" data-no-turbolink="true">Reset</a>
  </div>
</form>
<br />
<h3>Shift credits by institution</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>Group</th>
    <th>Shift Credits in <%= @start_year %>
      <% if @start_year.to_i != @end_year.to_i %>
        &ndash; <%= @end_year %>
      <% end %>
      from
      <%= list_cals_to_show %>
</th>
  </tr>
  <% Group.all.each do |group| %>
    <tr>
      <td><%= link_to group.name, group %></td>
      <td>
        <%= sum_credits group, @start_year, @end_year %>
        <% additional_credits = scheduled_credits group, @start_year, @end_year %>
        <% if additional_credits > 0 %>
          (+<%= additional_credits %> scheduled)
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<h3>Shift credits by individual</h3>
<table class="table table-bordered table-striped">
  <tr>
    <th>Name</th>
    <th>Shift Credits in <%= @start_year %>
      <% if @start_year.to_i != @end_year.to_i %>
        &ndash; <%= @end_year %>
      <% end %>
      from
      <%= list_cals_to_show %>
</th>
  </tr>
  <% sortedpeople = Person.all.sort_by do |person| %>
  <%   [sum_credits(person, @start_year, @end_year), scheduled_credits(person, @start_year, @end_year)] %>
  <% end %>
  <% sortedpeople.reverse.each do |person| %>
    <% credits = sum_credits person, @start_year, @end_year %>
    <% additional_credits = scheduled_credits person, @start_year, @end_year %>
    <% if credits + additional_credits > 0 %>
      <tr>
        <td><%= link_to person.name, person %></td>
        <td>
          <%= credits %>
          <% if additional_credits > 0 %>
            (+<%= additional_credits %> scheduled)
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
</table>
