<%= form_for(@appointment, html: {class: 'form-horizontal'}) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :created, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.datetime_select :created, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :starts, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.date_select :starts, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :days, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.number_field :days, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :note, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= f.text_area :note, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :calendar_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= collection_select(:appointment, :calendar_id, Calendar.all, :id, :title, {:class=>'form-control'}) %></div>
  </div>
  <div class="field form-group">
    <%= f.label :person_id, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10"><%= collection_select(:appointment, :person_id, Person.all, :id, :name, {:class=>'form-control'}) %></div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>
<% end %>
