<%= form_for(@appointment, html: {class: 'form-horizontal'}) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation" class="alert alert-danger fade in">
      <p><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</p>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
  </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :starts, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8">
      <%= f.date_select :starts %>
      
      <%= javascript_tag do %>  
      $(function () {
        $('#appointment_starts').datetimepicker({
          <% if not params[:startdate].nil? %>
            defaultDate: '<%= j params[:startdate] %>',
          <% elsif not @appointment.starts.nil? %>
            defaultDate: '<%= j @appointment.starts.to_s %>',
          <% end %>
          <% if not admin? %>
            minDate: '<%= Date.today.strftime("%Y-%m-%d") %>'
          <% end %>
        });
      });
      <% end %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :ends, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8">
      <%= f.date_select :ends %>
      
      <%= javascript_tag do %>
      $(function () {
        $('#appointment_ends').datetimepicker({
          <% if not params[:enddate].nil? %>
            defaultDate: '<%= j params[:enddate] %>',
          <% elsif not params[:startdate].nil? %>
            defaultDate: '<%= j params[:startdate] %>',
          <% elsif not @appointment.ends.nil? %>
            defaultDate: '<%= j @appointment.ends.to_s %>',
          <% end %>
          <% if not admin? %>
            minDate: '<%= Date.today.strftime("%Y-%m-%d") %>'
          <% end %>
        });
      });
      <% end %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :note, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= f.text_area :note, class: 'form-control' %></div>
  </div>
  <div class="field form-group">
    <%= f.label :calendar_id, {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8">
      <% if params[:cal].nil? %>
        <%= collection_select(:appointment, :calendar_id, Calendar.all, :id, :title, {}, {class: 'form-control'}) %>
      <% else %>
        <%= collection_select(:appointment, :calendar_id, Calendar.all, :id, :title, {selected: params[:cal]}, {class: 'form-control'}) %>
      <% end %>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label "Shifter", {}, {class: 'col-sm-2 control-label'} %>
    <div class="col-sm-8"><%= collection_select(:appointment, :person_id, Person.all, :id, :name, {}, {class: 'form-control'}) %></div>
  </div>
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
