<h3>All reservations on all calendars</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Created</th>
      <th>Dates</th>
      <th>Calendar</th>
      <th>Shifter</th>
      <th>Credit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.order(:created_at).reverse.each do |appointment| %>
      <tr>
        <td><%= appointment.created_at.strftime("%B %d, %Y") %></td>
        <td><%= appointment.starts.strftime("%B %d, %Y") %> &ndash; <%= appointment.ends.strftime("%B %d, %Y") %></td>
        <td><%= link_to appointment.calendar.title, calendar_path(appointment.calendar) %></td>
        <td><%= link_to appointment.person.name, person_path(appointment.person) %></td>
        <td><%= appointment.credit ? '' : 'No' %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td>
          <% if appointment.user == current_user || admin? %>
            <%= link_to 'Edit', edit_appointment_path(appointment) %>
          <% end %>
        </td>
        <td>
          <% if appointment.user == current_user || admin? %>
            <%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_appointment_path, class: "btn btn-primary" %>
