<p id="notice"><%= notice %></p>

<h3>All Reservations on all Calendars</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Dates</th>
      <th>Calendar</th>
      <th>Person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.order(:starts).each do |appointment| %>
      <tr>
        <td><%= appointment.starts.strftime("%B %d, %Y") %> &ndash; <%= appointment.ends.strftime("%B %d, %Y") %></td>
        <td><%= link_to appointment.calendar.title, calendar_path(appointment.calendar) %></td>
        <td><%= link_to appointment.person.name, person_path(appointment.person) %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Delete', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_appointment_path, class: "btn btn-primary" %>
