<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <tr>
    <td>Person:</td>
    <td><%= link_to @appointment.person.name, person_path(@appointment.person) %> (<%= link_to @appointment.person.group.name, group_path(@appointment.person.group) %>)</td>
  </tr>
  
  <tr>
    <td>Calendar:</td>
    <td><%= link_to @appointment.calendar.title, calendar_path(@appointment.calendar) %></td>
  </tr>
  
  <tr>
    <td>Dates:</td>
    <td>
      <%= @appointment.starts.strftime("%B %d, %Y") %>
      <% if @appointment.starts != @appointment.ends %>
        &ndash; <%= @appointment.ends.strftime("%B %d, %Y") %> (<%= (@appointment.ends - @appointment.starts + 1).to_i %> days)
      <% end %>
    </td>
  </tr>

  <tr>
    <td>Note:</td>
    <td><%= @appointment.note %></td>
  </tr>

  <tr>
    <td>Created:</td>
    <td><%= @appointment.created.strftime("%B %d, %Y") %> at <%= @appointment.created.strftime("%H:%M") %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
