<h3>Reservation details</h3>

<table class="table table-striped">
  <tr>
    <td>Shifter:</td>
    <td><%= link_to @appointment.person.name, person_path(@appointment.person) %> (<%= link_to @appointment.person.group.name, group_path(@appointment.person.group) %>)</td>
  </tr>
  
  <tr>
    <td>Calendar:</td>
    <td><%= link_to @appointment.calendar.title, calendar_path(@appointment.calendar) %></td>
  </tr>
  
  <tr>
    <td>Dates:</td>
    <td>
      <%= @appointment.starts.strftime("%B %d, %Y") %>
      <% if @appointment.starts != @appointment.ends %>
        &ndash; <%= @appointment.ends.strftime("%B %d, %Y") %> (<%= (@appointment.ends - @appointment.starts + 1).to_i %> days)
      <% end %>
    </td>
  </tr>

  <tr>
    <td>Note:</td>
    <td><%= @appointment.note %></td>
  </tr>

  <tr>
    <td>Created:</td>
    <td>
      <%= @appointment.created_at.strftime("%B %d, %Y") %> at <%= @appointment.created_at.strftime("%H:%M") %>
      <% if admin? %>
        by <%= link_to @appointment.user.username, user_path(@appointment.user) %>
      <% end %>
    </td>
  </tr>
</table>

<% if @appointment.user == current_user || admin? %>
  <%= link_to 'Edit', edit_appointment_path(@appointment) %> |
  <%= link_to 'Delete', @appointment, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
